@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Urbanist:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.switch-btn {
	@apply bg-bgray-300;
}
.switch-btn.active {
	@apply bg-success-300;
}
.switch-btn span {
	@apply translate-x-0;
}
.switch-btn.active span {
	@apply translate-x-[23px];
}

.Toastify {
	&__toast {
		font-family: "Urbanist", sans-serif !important;
		&-container {
			width: unset !important;
			min-width: 320px;
		}

		&--error {
			border: 0;
			/* border-radius: 50px !important; */
			background: #a10f18 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--success {
			border: 0;
			/* border-radius: 50px !important; */
			background: #169d53 !important;
			color: #ffffff !important;

			svg > path {
				fill: #ffffff !important;
			}
		}

		&--info {
			border: 0;
			/* border-radius: 50px !important; */
			background: #243256 !important;
			color: #ffffff !important;
			svg > path {
				fill: #ffffff !important;
			}
		}
	}
}

.btn-loader {
	-webkit-animation: spin 0.4s ease-in-out infinite; /* Safari */
	animation: spin 0.4s ease-in-out infinite;
	color: #ffffff;
}

.animate-spin {
	-webkit-animation: spin 0.4s ease-in-out infinite; /* Safari */
	animation: spin 0.4s ease-in-out infinite;
}

.otpInputWrap {
	& > div {
		display: grid !important;
		grid-template-columns: repeat(11, 1fr) !important;
		justify-content: center !important;
		text-align: center;

		& > input {
			width: 100% !important;
			border-radius: 0.5rem;
			padding-top: 2rem !important;
			padding-bottom: 2rem !important;
			padding-left: 0.25rem;
			padding-right: 0.25rem;

			font-size: 1.5rem !important;
			font-weight: 700;
		}
		& > span {
			font-size: 3rem !important;
			font-weight: 700;
			color: #86272d;
		}
	}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}

.react-datepicker-wrapper {
	position: relative;
}

.react-datepicker {
	width: 100% !important;
	padding: 33.75px;
	font-family: "Urbanist", sans-serif !important;
	border: 0 !important;

	border-radius: 16.851px !important;
	background: white !important;
	box-shadow: 0px 6px 12px 0px rgba(92, 115, 131, 0.08),
		0px 4px 8px 0px rgba(92, 115, 131, 0.08) !important;

	z-index: 10 !important;
	position: relative;

	&-wrapper {
		width: 100%;
	}

	&__triangle {
		display: none !important;
	}

	&__input-container {
		input {
			padding: 14px 16px 14px 16px;
			outline: 0;
			width: 100%;
			// width: 200px;
			background-color: transparent;
			cursor: pointer;

			color: var(--black-black-300, #131316);
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 16px; /* 114.286% */
			letter-spacing: -0.2px;

			border-radius: 12px;
			background: var(--white-white-100, #eff1f6);
			border: 3px solid var(--gray-gray-50, #eff1f6);

			transition: all 0.2s ease-in-out;
		}

		.react-datepicker-ignore-onclickoutside {
			border: 3px solid var(--black-black-300, #131316);
			background-color: #ffffff;
		}
	}

	&-popper {
		width: 436px !important;
	}

	&__aria-live {
		display: none !important;
	}

	&__navigation {
		top: 33.75px !important;
		position: absolute;

		&--previous {
			left: 33.75px !important;

			& > span {
				display: none !important;
			}
			&::after {
				content: "<-";
				display: block;
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: -0.4px;
				color: #56616b;
			}
		}
		&--next {
			right: 33.75px !important;

			& > span {
				display: none !important;
			}
			&::after {
				content: "->";
				display: block;
				font-size: 20px;
				font-weight: 600;
				line-height: 24px;
				letter-spacing: -0.4px;
				color: #56616b;
			}
		}
	}

	&__month {
		margin: 0 !important;

		&-container {
			width: 100% !important;
		}
	}

	&__header {
		background-color: white !important;
		border: 0 !important;
		padding: 0 !important;
	}

	&__current-month {
		color: var(--black-black-300, #131316) !important;
		text-align: center !important;
		font-size: 13.481px !important;
		font-style: normal !important;
		font-weight: 600 !important;
		line-height: 150% !important; /* 20.221px */
		letter-spacing: -0.337px !important;
	}

	&__day-names {
		margin-top: 14.32px !important;
	}
	&__week {
		margin-top: 13.48px !important;
	}

	&__day-names,
	&__week {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		// gap: 12px;
	}

	&__day-name {
		padding: 7.583px 5.055px !important;

		font-size: 14px !important;
		font-weight: 600 !important;
		line-height: 16px !important; /* 114.286% */
		letter-spacing: -0.4px !important;
		color: #56616b !important;
	}

	&__day {
		width: 32px !important;
		height: 32px !important;
		margin: 0 !important;

		display: flex !important;
		align-items: center !important;
		justify-content: center !important;

		font-size: 14px !important;
		font-style: normal !important;
		font-weight: 400 !important;
		line-height: 16px !important; /* 114.286% */
		letter-spacing: -0.4px !important;
		color: #56616b !important;
		cursor: pointer;

		&--today {
			color: #131316 !important;
			font-weight: 600 !important;
			border: 1px solid #131316 !important;
			border-radius: 50% !important;
		}

		&--selected {
			background-color: var(--black-black-300, #86272d) !important;
			color: var(--white-white-100, #ffffff) !important;
			border-radius: 50% !important;
			font-weight: 600 !important;
		}
		&:hover {
			background-color: rgba(#131316, 0.4) !important;
			color: var(--white-white-100, #ffffff) !important;
			border-radius: 50% !important;
		}
	}
}

.PaginationComponent {
	display: flex;
	flex: row;
	align-items: center;
	gap: 2px;
	padding: 1.5rem 0;

	.previous {
		margin-right: auto;
		color: #86272d;
	}
	.previous.disabled {
		visibility: hidden;
	}

	.next {
		margin-left: auto;
		color: #86272d;
	}
	.next.disabled {
		visibility: hidden;
	}

	&__page,
	&__break {
		min-width: 40px;
		width: 40px;
		height: 40px;

		color: #1a202c;
		font-weight: 600;
		cursor: pointer;

		a {
			width: 100%;
			height: 100%;

			display: grid;
			place-items: center;
		}
	}

	&__active {
		border-radius: 50%;
		color: #ffffff;
		background-color: #86272d;
	}

	& > ul {
		display: none;
	}
}

@media (max-width: 1024px) {
	.react-datepicker {
		&__input-container {
			& > input {
				padding: 0.5rem !important;
			}
		}
	}
}

@media only screen and (max-width: 480px) {
	.Toastify {
		&__toast {
			&-container {
				width: 100% !important;
				min-width: 320px;
			}
		}
	}
}
